:root{
  --color-darkblue: #030F27;
  --color-red: #D93250;
  --color-redpurple: #732743;
  --color-orange: #F15757;
  --color-cleargray: #F2F2F2;
  --color-grayux: #949494;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  overflow: hidden;
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
  width: 100vw;
  background-color: var(--color-darkblue);
  color: var(--color-cleargray);
  font-family: 'PT Sans',sans-serif;
  overflow: hidden;
}

/*Header styles*/
.header-container{
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  /* Header Search Bar */
.header-searchbar{
  margin-top: 14px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
.search-input{
  width: 80%;
  height: 27px;
  padding-left: 16px;
  border: none;
  border-radius: 12px 0 0 12px;
  font-size: 12px;
  font-family: "PT Sans",sans-serif;
}
.search-btn{
  margin-left: 4px;
  width: 32px;
  height: 27px;
  border: none;
  border-radius: 0 12px 12px 0;
  cursor: pointer;
}
  /* Header Navbar */
.header-navbar{
  margin: 8px 0;
  width: 100%;
  height: 15px;
  padding: 0 30px;
  font-family: 'PT Sans',sans-serif;
}
.windows{
  width: 100%;
  height: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}
.navbar-item,
.navbar-item a
{
  height: 15px;
  line-height: 15px;
  list-style: none;
  cursor: pointer;
  color: var(--color-cleargray);
}
.navbar-item a,
.navbar-item a:visited,
.navbar-item a:active
{
  text-decoration: none;
}
.navbar-item.active a{
  text-decoration-line: underline;
  color: var(--color-orange);
  font-weight: bold;
}

/* Section Styles */
main{
  width: 100vw;
  min-height: 90vh;
  max-height: 95vh;
  margin-top: 8px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Movie Detail Page */
.movie-detail-section{
  height: 100vh;
  width: 100%;
}
.movie-detail-header{
  position: relative;
  height: 200px;
  overflow: hidden;
}
.movie-detail-header-back-btn::before{
  content: "<";
  font-weight: 700;
  font-family: "PT Sans",sans-serif;
  margin-right: 2px;
}
.movie-detail-header-back-btn{
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 2;
  background:none;
  border: none;
  text-decoration: none;
  font-family: "Tilt Neon",cursive;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-orange);
  text-shadow: 1px 1px 4px var(--color-darkblue);
  cursor: pointer;
}
.movie-detail-header-img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.movie-detail-header-courtine{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(180deg, rgba(3, 15, 39, 0.4) 0%, rgba(3, 15, 39, 0) 31.77%, rgba(3, 15, 39, 0.335878) 70.55%, #030F27 100%);
}
.movie-detail-header-title{
  position: absolute;
  bottom: 0;
  left: 6px;
  z-index: 2;
  font-family: 'Tilt Neon',cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.movie-detail-duration{
  display: flex;
  align-items: center;
  margin: 4px 6px 0;
  color: var(--color-grayux);
  font-family: 'PT Sans',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 113%;
}
.movie-detail-categories-container{
  margin: 6px 6px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.movie-detail-overview{
  margin: 6px 6px 0;
  font-family: 'PT Sans',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: var(--color-cleargray);
}
.movie-detail-item{
  font-family: "Tilt Neon",cursive;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;

  margin-left: 6px;
  color: var(--color-grayux);
}
.movie-detail-item-content{
  font-family: 'PT Sans',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-left: 6px;
  color: var(--color-cleargray);
}
.movie-detail-topBilledCast{
  margin-top: 10px;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 6px;
  overflow: hidden;
}
.movie-detail-section .section-title{
  margin: 0;
  font-family: "Tilt Neon",cursive;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.movie-detail-cast-container{
  width: 100%;
  height: 70px;
  display: flex;
  overflow-x: auto;
  gap: 10px;
}
.movie-detail-cast-item{
  min-height: 70px;
  min-width: 50px;
  border-radius: 4px;
  overflow: hidden;
}
.movie-detail-cast--img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.movie-detail-similar{
  margin-top: 20px;
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 6px;
  overflow: hidden;
}
.movie-detail-similar-container{
  width: 100%;
  height: 140px;
  display: flex;
  overflow-x: auto;
  gap: 6px;
}
.movie-detail-similar-item{
  min-width: 80px;
  min-height: 120px;
  border-radius: 4px;
  overflow: hidden;
}
.movie-detail-similar-img{
  width: 80px;
  height: 120px;
}
  /* General section styles */
.recommended-section{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.recommended-section .section-title{
  display: inline-block;
  font-weight: normal;
  margin-left: 10px;
  font-size: 12px;
}

  /* Recommend section styles */  
.recommended-img-container{
  margin-top: 2px;
  width: 100%;
  z-index: 0;
}
.recommended-img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recommended-container{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 4px;
}
.recommended-courtain{
  width: 100%;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(179.7deg, rgba(0, 0, 0, 0) 0.26%, rgba(0, 0, 0, 0.75) 19.04%, rgba(0, 0, 0, 0.9) 53.63%, #000000 99.74%);
  z-index: 1;
  opacity: 0.9;
}
.recommended-movie-title{
  margin-left: 10px;
  font-family: "Tilt Neon",cursive;
  font-size: 12px;
  z-index: 2;
}
.movie-year{
  margin-left: 24px;
  font-weight: normal;
  color: var(--color-grayux);
}
.movie-year::before{
  content: "(";
}
.movie-year::after{
  content: ")";
}
.recommended-movie-year{
  z-index: 2;
}
.recommended-categories-container{
  margin-left: 10px;
  margin-top: 6px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  align-items: flex-start;
  z-index: 2;
}
.category{
  padding: 0 5px;
  border: 1px solid var(--color-grayux);
  border-radius: 2px;
  color: var(--color-grayux);
  font-size: 8px;
}
.recommended-movie-description{
  margin-left: 10px;
  font-size: 10px;
  font-family: "PT Sans",sans-serif;
  z-index: 2;
}
.recommended-movie-info{
  margin: 0 0 10px 10px;
  font-size: 10px;
  font-family: "PT Sans",sans-serif;
  z-index: 2;
  display: flex;
  gap: 20px;
}
.movie-rate::before{
  content: "⭐";
  margin: 0;
  padding: 0;
}
.movie-language{
  text-transform: capitalize;
}
.movie-language::before{
  content: "Lang:";
  font-weight: 100;
  color: var(--color-grayux);
  margin-right:4px;
}
/* Custom Sections Styles */
.sections-container{
  margin: 18px 0;
  width: 100vw;
}
.sections-container section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 160px;
  width: 100%;
}
.section-title{
  display: grid;
  place-items: center;
  height: 16px;
  font-size: 12px;
  font-weight: normal;
  margin-left: 10px;
}
.section-items-container{
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid var(--color-grayux);
  overflow-x:auto;
  display: flex;
  gap: 4px;
}
.section-item{
  min-height: 120px;
  min-width: 80px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}
.section-item:nth-child(1){
  margin-left: 8px;
}
.section-item:nth-last-child(1){
  margin-right: 8px;
}
.section-item-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.hidden{
  display: none;
}