:root{
  --color-darkblue: #030F27;
  --color-red: #D93250;
  --color-redpurple: #732743;
  --color-orange: #F15757;
  --color-cleargray: #F2F2F2;
  --color-grayux: #949494;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  overflow: hidden;
}
body{
  min-height: 100vh;
  width: 100vw;
  background-color: var(--color-darkblue);
  color: var(--color-cleargray);
  font-family: 'PT Sans',sans-serif;
}
.hidden{
  display: none;
}

/*Header styles*/
#header-container{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  /* Header Search Bar */
#header-searchbar{
  margin-top: 14px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
#header-searchbar>#search-input{
  width: 280px;
  height: 27px;
  padding-left: 16px;
  border: none;
  border-radius: 12px 0 0 12px;
  font-size: 12px;
  font-family: "PT Sans",sans-serif;
}
#header-searchbar>#search-btn{
  margin-left: 4px;
  width: 32px;
  height: 27px;
  border: none;
  border-radius: 0 12px 12px 0;
  cursor: pointer;
}
  /* Header Navbar */
#header-navbar{
  margin: 12px 0;
  width: 100%;
  height: 15px;
  padding: 0 30px;
  font-family: 'PT Sans',sans-serif;
}
#header-navbar>#windows{
  width: 100%;
  height: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}
#header-navbar>#windows>.navbar-item{
  height: 15px;
  line-height: 15px;
  list-style: none;
  cursor: pointer;
  color: var(--color-cleargray);
}
#header-navbar>#windows>.navbar-item.active{
  text-decoration-line: underline;
  color: var(--color-orange);
  font-weight: bold;
}

/* Section Styles */
main{
  width: 100%;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
}

  /* General section styles */
main section{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 160px;
}
main section h2.section-title{
  display: inline-block;
  font-weight: normal;
  margin-left: 10px;
  font-size: 12px;
}

  /* Recommend section styles */  
#recommended-img-container{
  margin-top: 2px;
  width: 100%;
  z-index: 0;
}
#recommended-img-container>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#recommended-container{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 4px;
}
#recommended-courtain{
  width: 100%;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(179.7deg, rgba(0, 0, 0, 0) 0.26%, rgba(0, 0, 0, 0.75) 19.04%, rgba(0, 0, 0, 0.9) 53.63%, #000000 99.74%);
  z-index: 1;
  opacity: 0.9;
}
h3#recommended-movie-title{
  margin-left: 10px;
  font-family: "Tilt Neon",cursive;
  font-size: 12px;
  z-index: 2;
}
.movie-duration{
  margin-left: 24px;
  font-weight: normal;
  color: var(--color-grayux);
}
#recommended-movie-duration{
  z-index: 2;
}
#recommended-categories-container{
  margin-left: 10px;
  margin-top: 6px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  align-items: flex-start;
  z-index: 2;
}
.category{
  padding: 0 5px;
  border: 1px solid var(--color-grayux);
  border-radius: 2px;
  color: var(--color-grayux);
  font-size: 8px;
}
#recommended-movie-description{
  margin-left: 10px;
  font-size: 10px;
  font-family: "PT Sans",sans-serif;
  z-index: 2;
}
#recommended-movie-info{
  margin: 0 0 10px 10px;
  font-size: 10px;
  font-family: "PT Sans",sans-serif;
  z-index: 2;
  display: flex;
  gap: 20px;
}
.movie-rate::before{
  content: "⭐";
  margin: 0;
  padding: 0;
}
.movie-director::before{
  content: "Dir.";
  font-weight: 100;
  font-style: italic;
  color: var(--color-grayux);
  margin-right:4px;
}