:root{
  --color-darkblue: #030F27;
  --color-red: #D93250;
  --color-redpurple: #732743;
  --color-orange: #F15757;
  --color-cleargray: #F2F2F2;
  --color-grayux: #949494;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  width: 100vw;
  background-color: var(--color-darkblue);
  color: var(--color-cleargray);
  font-family: PT Sans,sans-serif;
}
.hidden{
  display: none;
}
/*Header styles*/
#header-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#header-searchbar{
  margin-top: 14px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
#header-searchbar>#search-input{
  width: 280px;
  height: 27px;
  padding-left: 16px;
  border: none;
  border-radius: 12px 0 0 12px;
  font-size: 12px;
}
#header-searchbar>#search-btn{
  margin-left: 4px;
  width: 32px;
  height: 27px;
  border: none;
  border-radius: 0 12px 12px 0;
  cursor: pointer;
}